html,
body {
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
}

canvas {
  display: block;
}

#container-p5 {
  position: absolute;
  left: 30px;
  top: 30px;
}

#container-three {
  display: block;
  /* add your style */
}