<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Project | three.js</title>
    <link rel="stylesheet" href="style.css">
    <script type="importmap">
        {
          "imports": {
            "p5": "./p5/p5.js",
            "three": "./three/three.module.js",
            "three/examples/jsm/controls/OrbitControls":"./jsm/controls/OrbitControls.js",
            "three/examples/jsm/libs/stats.module":"./jsm/libs/stats.module.js",
            "three/examples/jsm/libs/dat.gui.module":"./jsm/libs/dat.gui.module.js"
          }
        }
    </script>
    <script src="script.js" type="module"></script>
</head>

<body>
    test page
</body>

</html>